Source: qterminal
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@gmail.com>,
           Andrew Lee (李健秋) <ajqlee@debian.org>,
Section: x11
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake (>= 3.0.2),
               libqtermwidget5-0-dev,
               libqt5x11extras5-dev,
               libx11-dev,
               qtbase5-private-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/qterminal.git
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/qterminal.git
Homepage: https://github.com/qterminal/qterminal

Package: qterminal
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: QT-based multitab terminal emulator
 Qterminal is a Qt-based multitab terminal forked from QTermWidget, it is
 lightweight, open-source, specially designed for LXQt desktop environment.
 .
 The features of qterminal include:
  * Split terminal horizontal and vertical.
  * Multiple tab.
  * Customized shortcut.
  * Change color scheme.

Package: qterminal-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qterminal (= ${binary:Version})
Description: QT-based multitab terminal emulator (debug symbols)
 Qterminal is a Qt-based multitab terminal forked from QTermWidget, it is
 lightweight, open-source, specially designed for LXQt desktop environment.
 .
 The features of qterminal include:
  * Split terminal horizontal and vertical.
  * Multiple tab.
  * Customized shortcut.
  * Change color scheme.
 .
 This package contains debug symbols for qterminal.
